
body {
  background: rgb(41, 48, 54);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content{
  background-color: rgb(41, 48, 54);
  color: #F0F8FF;
}

.h2 {
  align-self: auto;
  color: #F0F8FF;
}

.main-header {
    padding: 10px;
    color: #F0F8FF;
}